#form1 {
    border-color: aqua;
    border-radius: 10px;
    height: 20px;
}

#form2 {
    border-color: aqua;
    border-radius: 10px;
    height: 20px;
}

#submit {
    border-color: aqua;
    border-radius: 10px;
    height: 30px;
    color: darkslategray;
}
p{
    font-family: sans-serif;
}