.col-5 {
    margin: auto;
    /* justify-content: center; */
}

p{
margin-top: 10px;
}

.chess-board th {
    padding: .2em;
}


.chess-board td {
    border: 1px solid;
    width: 4em;
    height: 4em;
    text-align: center;
    vertical-align: middle;
}

.chess-board .white {
    background: #f0d9b5;
}

.chess-board .black {
    background: #b58863;
}

.black-piece {

    background-color: black;
    border: 1px solid white;
    border-radius: 50px;
}

.red-piece {

    background-color: red;
    border: #b58863;
    border-radius: 50px;
}

td:hover{
    opacity: 0.8;
}